<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118598015757-4iad8nil63dolc9r5b7jvt5uberpccip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118598015757-4iad8nil63dolc9r5b7jvt5uberpccip</string>
	<key>API_KEY</key>
	<string>AIzaSyDNCV2bL8BOzW59S91J7B_pKu1pbfrsKbI</string>
	<key>GCM_SENDER_ID</key>
	<string>118598015757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.idntfy</string>
	<key>PROJECT_ID</key>
	<string>idntfy-ebf24</string>
	<key>STORAGE_BUCKET</key>
	<string>idntfy-ebf24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118598015757:ios:d8059fbd13424b4a41ae44</string>
	<key>DATABASE_URL</key>
	<string>https://idntfy-ebf24.firebaseio.com</string>
</dict>
</plist>